# Database Configuration
DB_HOST=db
DB_USER=agnos
DB_PASSWORD=password
DB_NAME=agnos_db
DB_PORT=5432

# JWT Secret which needs to change in production
JWT_SECRET=supersecretkey

# Hospital A External API URL
HOSPITAL_A_API_URL=https://hospital-a.api.co.th